@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> UserManager;

<div class="container-fluid px-0 d-none d-lg-block">
    <div class="row gx-0">
        <div class="col-lg-4 text-center bg-secondary py-3">
            <div class="d-inline-flex align-items-center justify-content-center">
                <i class="bi bi-envelope fs-1 text-primary me-3"></i>
                <div class="text-start">
                    <h6 class="text-uppercase mb-1">Email Us</h6>
                    <span>info@example.com</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 text-center bg-primary border-inner py-3">
            <div class="d-inline-flex align-items-center justify-content-center">
                <a href="index.html" class="navbar-brand">
                    <h1 class="m-0 text-uppercase text-white"><i class="fa fa-book fs-1 text-dark me-3"></i>BookZone</h1>
                </a>
            </div>
        </div>
        <div class="col-lg-4 text-center bg-secondary py-3">
            <div class="d-inline-flex align-items-center justify-content-center">
                <i class="bi bi-phone-vibrate fs-1 text-primary me-3"></i>
                <div class="text-start">
                    <h6 class="text-uppercase mb-1">Call Us</h6>
                    <span>+012 345 6789</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->
<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow-sm py-3 py-lg-0 px-3 px-lg-0">
    <a href="index.html" class="navbar-brand d-block d-lg-none">
        <h1 class="m-0 text-uppercase text-white"><i class="fa fa-book fs-1 text-primary me-3"></i>BookZone</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <form class="form-inline my-2 my-lg-0"  style="margin-left: 50px; display:flex">
            <input name="searchString" type="text" class="form-control" placeholder="Search for a book..." aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
        </form>
        <div class="navbar-nav ms-auto mx-lg-auto py-0">
            <a class="nav-item nav-link active" asp-controller="Home" asp-action="Index">Home</a>
            <a class="nav-item nav-link " href="@Url.Action("Index","Book")">Book</a>
            <a class="nav-item nav-link" >Cinemas</a>
            <a class="nav-item nav-link">Actors</a>
            <a class="nav-item nav-link">Producers</a>
        </div>

        <ul class="navbar-nav">
            @await Component.InvokeAsync("ShoppingCartSummary")
        </ul>

        @if (!User.Identity.IsAuthenticated)
        {
            @*  LogIn && Register *@

            <a class="btn btn-outline-success my-2 my-sm-0" asp-controller="Account" asp-action="Login">
                <i class="bi bi-box-arrow-in-right"></i> Log in
            </a>
            <span style="padding: 10px;"></span>
            <a class="btn btn-outline-primary my-2 my-sm-0" style="margin-right: 20px" asp-controller="Account" asp-action="Register">
                <i class="bi bi-person-plus"></i> Register
            </a>
        }
        else
        {
            @*  User profile section *@
            <div class="nav-item dropdown" style="margin-right: 60px">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" id="profife-btn" aria-expanded="false">
                    <i class="bi bi-person-badge"></i> Hello @UserManager.GetUserName(User)
                </button>
                <ul class="dropdown-menu m-0">
                    <li>
                        <a class="dropdown-item" asp-controller="Order" asp-action="Index">
                            <i class="bi bi-list"></i> Orders
                        </a>
                    </li>

                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            <a class="dropdown-item" asp-controller="Account" asp-action="User">
                                <i class="bi bi-people"></i> Users
                            </a>
                        </li>
                    }
                </ul>
            </div>

            <span style="padding: 5px;"></span>
            <form asp-controller="Account" asp-action="Logout" style="margin-right: 60px">
                <button class="btn btn-outline-danger my-2 my-sm-0">
                    <i class="bi bi-box-arrow-in-right"></i> Log out
                </button>
            </form>
        }

        

    </div>
</nav>