@* @model IEnumerable<BookWebEcommerce.Models.Author>
 *@
@model X.PagedList.IPagedList<BookWebEcommerce.Models.Author>
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout/MyLayout.cshtml";
}

<h1>Authors</h1>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New Authors</a>
    </p>
}

<body>
    <div class="container-fluid py-5">
        <div class="container">
            <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
                <h2 class="text-primary font-secondary">Author</h2>
                <h1 class="display-4 text-uppercase">Our Author</h1>
            </div>
        <div id="content">
            <partial name="Paginate" model="Model" />
        </div>
        </div>
    </div>

</body>

@section Scripts{
 <script>
        $(document).ready(function () {
            $("body").on("click", ".pagination a", function (e) {
                e.preventDefault();
                var url = $(this).attr("href");
                $("#content").load(url);
            });
        });
    </script>
 }


