@using BookWebEcommerce.Data.Enum;
@using BookWebEcommerce.Models;
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Layout/MyLayout.cshtml";
}
@model Book
<div>
    <h1 style="text-align: center">Edit Book</h1>
    <div style="margin-left: 350px">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-controller="Book" asp-action="Edit" method="post" class="mt-3">
            <input type="hidden" asp-for="Id" />
            <div style="margin-top:10px" class="form-group row">
                <label asp-for="Name" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-5">
                    <input asp-for="Name" class="form-control" placeholder="Name">
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div style="margin-top: 10px" class="form-group row">
                <label asp-for="Description" class="col-sm-2 col-form-label"></label>
                <div class="col-md-5">
                    <textarea id="Description" asp-for="Description" class="form-control"></textarea>
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div style="margin-top:7px" class="form-group row">
                <label asp-for="Price" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-5">
                    <input asp-for="Price" class="form-control" placeholder="Price"/>
                </div>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div style="margin-top:7px" class="form-group-row">
                <label asp-for="ImageURL" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-5">
                    <input asp-for="ImageURL" id="imageURLInput" oninput="showImage()" />
                </div>
                <div class="col-sm-5">
                    <img src="" alt="image" id="image" />
                </div>
                <span asp-validation-for="ImageURL" class="text-danger"></span>
            </div>
            <div style="margin-top:7px" class="form-group row">
                <label asp-for="Category" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-5">
                    <select asp-for="Category" class="custom-select mr-sm-2" asp-items="Html.GetEnumSelectList<BookCategory>()"></select>
                </div>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div style="margin-top:7px" class="form-group row">
                <label asp-for="AuthorId" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-5">
                    <select asp-for="AuthorId" class="custom-select mr-sm-2" asp-items="@ViewBag.AuthorId"></select>
                </div>
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>

            <div style="margin-top:7px" class="form-group row">
                <label asp-for="PublisherId" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-5">
                    <select asp-for="PublisherId" class="custom-select mr-sm-2" asp-items="@ViewBag.PublisherId"></select>
                </div>
                <span asp-validation-for="PublisherId" class="text-danger"></span>
            </div>

            <div style="margin-top:7px" class="form-group row">
                <label asp-for="TranslatorId" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-5">
                    <select asp-for="TranslatorId" class="custom-select mr-sm-2" asp-items="@ViewBag.TranslatorId"></select>
                </div>
                <span asp-validation-for="TranslatorId" class="text-danger"></span>
            </div>

            <div style="margin-top:10px" class="form-group row">
                <div class="col-sm-5">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div style="margin-top: 15px ; text-align:left">
    <a asp-action="Index">Back To List</a>
</div>

@section Scripts {
    <script src=" https://cdn.ckeditor.com/ckeditor5/21.0.0/classic/ckeditor.js"></script>"
    <script>
        ClassicEditor
            .create(document.querySelector('#Description'), {
                toolbar: ['heading','|','bold','italic','link']
            })
             .then(editor => {
                    window.editor = editor;
                })
             .catch(err => {
                    console.error(err.stack);
                });
    </script>

 }
<script>
    function showImage() {
        var imageURL = document.getElementById("imageURLInput").value;
        var imageElement = document.getElementById("image");
        if (imageURL) {
            imageElement.src = imageURL;
        }
        else {
            //neu khong co url , xoa hinh anh hoac hien thi mot hinh anh mac dinh
            imageElement.src = "";// = URL cua hinh anh mac dinh
        }
    }
</script>