.product__pagination,
.blog__pagination {
	padding-top: 10px;
}

.product__pagination a,
.blog__pagination a {
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 1px solid #b2b2b2;
	font-size: 14px;
	color: #b2b2b2;
	font-weight: 700;
	line-height: 28px;
	text-align: center;
	margin-right: 16px;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

	.product__pagination a:hover,
	.blog__pagination a:hover {
		background: #7fad39;
		border-color: #e88f2a;
		color: #ffffff;
	}

.product__pagination a:last-child,
.blog__pagination a:last-child {
	margin-right: 0;
}