@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    Layout = "~/Views/Shared/Layout/MyLayout.cshtml";
}
<!-- Hero Start --><a href="~/css/cssp/ui.css.map">~/css/cssp/ui.css.map</a><a href="~/css/cssp/responsive1.css.map">~/css/cssp/responsive1.css.map</a>
<link href="~/css/cssp/responsive1.css" rel="stylesheet" /><a href="~/css/cssp/responsive.css.map">~/css/cssp/responsive.css.map</a>
<link href="~/css/cssp/responsive.css" rel="stylesheet" />
<link href="~/css/cssp/ui.css" rel="stylesheet" />
@model Publisher
<div class="container-fluid bg-primary py-5 mb-5 hero-header" style="">
    <div class="container py-5">
        <div class="row justify-content-start">
            <div class="col-lg-8 text-center text-lg-start">
                <h1 class="display-1 text-uppercase text-black mb-4">@Model.Name</h1>
                <h1 class="text-uppercase text-black">@Model.Description</h1>
                <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->

<section class="padding-bottom">

	<header class="section-heading heading-line">
		<h4 class="title-section text-uppercase"style="padding:20px">Books</h4>
	</header>

    <div class="row g-5"> 
        @await Component.InvokeAsync("item2",@Model.Id);
	</div> <!-- row.// -->

</section>